<!DOCTYPE html>
<html>
<head class = "center">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>BS 2.0</title>
</head>
    <style>
    .center {
      text-align : center;
      margin : auto;
    }
    .div1 {
      width: 100px;
      height:45px;
      border: 2px solid black;
      font-size: 200%;
      color: blue;
    }
    .div2 {
      width:62px;
      height:45px;
      border:2px solid black;
      font-size:210%;
      color:orange
    }
    body {
      background-image: url("https://pbs.twimg.com/profile_images/610554420569346048/rEwdjPLv.jpg");
    }
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    
    td {
      background-color: white;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
    h3 {
      text-align: center;
    }
    #firsttable {
      color: yellow;
    }
    #secondtable {
      color: yellow;
    }
    .info {
      color:aqua
    }
    .title {
      color:pink
    }
     .summary {
          color: white
    }
    #summary {
      background-color: black
    }
    li {
    display: inline;
}
    .nav {
        color: lime;
    }
    </style>
<h1>BS 2.0</h1>
<ul>
    <li><a class="nav" href="https://todo-app2-tnwing.c9users.io/about/About">Home</a></li>
    <li><a class="nav" href="https://todo-app2-tnwing.c9users.io/about/FAQs">FAQs</a></li>
    <li><a class="nav" href="https://todo-app2-tnwing.c9users.io/about/Contact">Contact Me!</a></li>
</ul>
  <p id=summary class="summary"><em><strong>Are you having trouble staying on track?
    Do you have issues completing your work on time?
    Never fear, Better Student 2.0 (or BS 2.0) is here!</p></em></strong>
    
  <h2 class="info"> Features include:</h2>
  <ul class="info"><strong>An organized work list</ul>
  <ul class="info">A calendar</ul>
  <ul class="info">A score system for encouragement</ul>
  <ul class="info">A sorting and filter system</ul>
  <ul class="info">A share system if you need to help a friend out</ul>
    <ul class="info">And more!</ul></strong>
  <h3 id="firsttable"> An example of one student's to-do list</h3>
  <table>
    <tr>
      <td>Completed?</td>
      <td>Assignment</td>
      <td>Summary</td>
      <td>Due Date</td>
    </tr>
      <tr>
      <td><input type="checkbox"></input></td>
      <td>Math Homework</td>
      <td>Textbook Page 100, Questions 5-7</td>
      <td>5/3/17</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>SS Project</td>
      <td>Essay about the Harlem Renaissance</td>
      <td>5/12/17</td>
    </tr>
    </Table>
   <br></br>
  <h3 id="secondtable">Layout of "Add Assignment" page:</h3>
<div class="div1"><strong>Cancel</div></strong>
<br></br>
<table>
    <tr>
      <td>Name</td>
    </tr>
    </table>
  <table>
    <tr>
      <td>Subject</td>
    </tr>
  </table>
    <table>
      <tr>
        <td>Summary</td>
      </tr>
  </table>
  <table>
    <tr>
        <td>Teacher</td>
      <td>Due Date</td>
      <td>Importance</td>
      </tr>
  </table>
  <table>
    <tr>
      <td>Important Notes:</td>
    </tr>
  </table>
   <br></br>
<a href="https://www.google.com"><div class="div2"><strong>Add</div></strong></a>
  </tr>
</table>
</html>