<h2>How Does This Work?</h2>
<h3>This application creates tables that will display your work.  Each table consists of 4 columns.  The "Completed?" column contains a checkbox that can be checked to show you that you completed the task.
The "Assignment" column contains the name of the task while the "Summary" column contains information on the assignment.  The "Due Date" column contains the date that the task is due.</h3>
<h2>Does this cost money</h2>
<h3>Nope!  This app is absolutely free!</h3>
<h2>Do I need to download anything?</h2>
<h3>This application uses your web browser to keep track of your tasks, so you do not need to download anything!</h3>
<h2>I have some issues, how do I solve it?</h2>
<h3>You can either email me at abc@gmail.com or go to</h3>