<style>
      table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    
    td {
      background-color: white;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
</style>
<table>
  <a href="https://todo-app2-tnwing.c9users.io/about/About"><div class="div1"><strong>Cancel</div></strong>
<br></br>
    <tr>
  <td><div contenteditable>Hi</div></td>
    </tr>
    </table>
  <table>
    <tr>
      <td>Subject</td>
    </tr>
  </table>
    <table>
      <tr>
        <td>Summary</td>
      </tr>
  </table>
  <table>
    <tr>
        <td>Teacher</td>
      <td>Due Date</td>
      <td>Importance</td>
      </tr>
  </table>
  <table>
    <tr>
      <td>Important Notes:</td>
    </tr>
  </table>
   <br></br>
<a href="https://www.google.com"><div class="div2"><strong>Add</div></strong></a>
  </tr>
</table>