<h3>CHORES</h3>
<ul>
    <li>
        <input type="checkbox"></input>
        <span>Clean the Floor</span>
    </li>
    <li>
        <input type="checkbox"></input>
        <span>Polish Silverware</span>   
    </li>
    <li>
        <input type="checkbox"></input>
        <span>Wash Dishes</span>
    </li>
    <li>
        <input type="checkbox"></input>
        <span>Cook Dinner</span>
    </li>
</ul>