<style>
    ul{ 
       list-style-type: none; 
    }
</style>
<h3>CHORES</h3>
<ul>
    <li>
        <input type="checkbox"></input>
        <span>Clean the Floor</span>
        <strong>2 pomodoros</strong>
    </li>
    <li>
        <input type="checkbox"></input>
        <span>Polish Silverware</span>  
        <strong>3 pomodoros</strong>
    </li>
    <li>
        <input type="checkbox"></input>
        <span>Wash Dishes</span>
        <strong>1 pomodoros</strong>
    </li>
    <li>
        <input type="checkbox"></input>
        <span>Cook Dinner</span>
        <strong>3 pomodoros</strong>
    </li>
</ul>